<div class="col s12 z-depth-4 card-panel" style="width:328px; margin:0 auto; margin-top:20px; background-color:#ccccff;">
      <form class="login-form" style="width:280px;">
        <div class="row">
          <div class="input-fiel col s12 center">
            <img src="img/cielo-header.png" width="80" alt class="reponsive-img valign profile-image-login" />
            <p class="center" style="text-transform: uppercase; letter-spacing: 2px; font-size: 0.8rem;">GERADOR DE INICIALIZAÇÕES CIELO</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="fa fa-user prefix" style="font-size:20px;"></i>
            <input type="text" ng-model="login.email">
            <label for="login" class="center-align">Login</label>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <i class="fa fa-lock prefix" style="font-size:20px;"></i>
            <input type="password" ng-model="login.password">
            <label for="senha" class="center-align">Senha</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 m12 l12">
              <input type="checkbox" id="remember-me">
              <label for="remember-me">Lembre-me</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <a ng-click="authentica();" class="btn waves-effect waves-light col s12">Entrar</a>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p ui-sref="outside.register" class="margin medium-small"><a href="#">Registre agora!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="#">Esqueceu sua senha?</a></p>
          </div>
        </div>


      </form>
    </div>
